$fourthKey: 2560px;
$intermediateResolution: 1920px;
$laptopLarge: 1440px;
$laptop: 1024px;
$tablet: 768px;

body {
  --header-button-font: 16px;

  @media only screen and (max-width: $fourthKey) and (min-width: $intermediateResolution) {
    font-size: 20px;
  }

  @media only screen and (max-width: $laptopLarge) and (min-width: $laptop) {
    --header-button-font: 12px;
  }

  @media only screen and (max-width: $laptop) and (min-width: $tablet) {
    --header-button-font: 11px;
  }
}

.big-header {
  background-color: #232B2B;
  width: 100%;
  overflow: hidden;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 var(--base-padding);
  height: 113px;
  top: 0;
  position: sticky;
  z-index: 1;

  @media only screen and (max-width: $tablet) {
    display: none;
  }
}

.bh-header-center {
  display: flex;
  justify-content: center;
  gap: 32px;
  align-items: center;
}

.bh-header-center a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: var(--header-button-font);
}

.bh-logo-container {
  display: flex;
  align-items: center;
  height: 100%;

  @media only screen and (max-width: $laptop) {
    //transform: scale(0.8);
  }
}

.bh-logo {

  width: 100%;
  height: auto;

  //@media (max-width: $laptopLarge) {
  //  transform: scale(0.8);
  //  transform-origin: left;
  //}
  //
  //@media (max-width: $laptop) {
  //  transform: scale(0.6);
  //}
}

.bh-logo-href {
  line-height: 0;
  display: flex;
}

.bh-btn-support-container {
  display: flex;
}

.bh-btn-support {
  font-size: var(--header-button-font);
  color: white;
  background-color: #2B59FF;
  padding: 12px 16px;
  border-radius: 4px;
  border: none;
  font-family: e-Ukraine-Regular, sans-serif;

  @media only screen and (max-width: $laptop) {
    padding: 8px 12px;
    margin-left: 18px;
  }
}

.showMenu {
  display: flex;
}