$fourthKey: 2560px;
$laptopLarge: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobileLarge: 426px;
$mobileMedium: 376px;
$mobileSmall: 320px;

.report {
  padding: 0 var(--base-padding);
}

.report-container {
  padding: 0 30px;
}

.sub-header {
  font-family: e-Ukraine-Bold, sans-serif;
  font-size: 30px;
  margin-bottom: 50px;
  
  @media only screen and (max-width: $tablet) {
    text-align: center;
  }
}

.documents {
  display: flex;
  gap: 50px;
  margin-bottom: 100px;
  overflow-x: auto;
  
  @media screen and (max-width: $laptopLarge) {
    gap: 5%;
  }
}

.documents::-webkit-scrollbar {
  display: none;
}

.document_image {
  width: 240px;
  height: 339px;
  padding: 10px;
  border: 1px solid #C9C9C9;
  border-radius: 12px;
}

.main-header-reporting {
  padding: 70px 0;
}