body {
  --header-button-font: 16px;
}
@media only screen and (max-width: 2560px) and (min-width: 1920px) {
  body {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1440px) and (min-width: 1024px) {
  body {
    --header-button-font: 12px;
  }
}

.hamburger-menu {
  display: none;
}
@media only screen and (max-width: 768px) {
  .hamburger-menu {
    display: flex;
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 0;
  }
}

.hamburger-menu-button {
  border: none;
  padding: 0;
  background: none;
}

.hamburger-menu-button img {
  display: block;
}

.small-header {
  background-color: #232B2B;
  width: 100%;
  overflow: hidden;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 var(--base-padding);
  height: 113px;
  top: 0;
  position: sticky;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .small-header {
    height: 167px;
    justify-content: center;
    overflow: visible;
  }
}
@media only screen and (min-width: 769px) {
  .small-header {
    display: none;
  }
}

.header-lower {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .header-lower {
    justify-content: center;
    flex-direction: column;
  }
}

.header-dropdown-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 32px;
}
@media only screen and (max-width: 2560px) {
  .header-dropdown-container {
    flex-grow: 2;
  }
}
@media only screen and (max-width: 768px) {
  .header-dropdown-container {
    display: none;
    flex-direction: column;
    width: calc(100% + 2 * var(--base-padding));
    position: absolute;
    top: 100%;
    background-color: #232B2B;
  }
}

.sh-header-center {
  flex: auto;
  display: flex;
  justify-content: center;
  gap: 32px;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .sh-header-center {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.sh-header-center a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: var(--header-button-font);
}
@media only screen and (max-width: 768px) {
  .sh-header-center a {
    padding: 16px calc(var(--base-padding) + 10px);
    display: block;
  }
}

.sh-logo-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
@media (max-width: 768px) {
  .sh-logo-container {
    align-items: center;
    width: auto;
  }
}

.sh-logo-href {
  line-height: 0;
  display: flex;
  justify-content: flex-start;
}

.sh-btn-support-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 768px) {
  .sh-btn-support-container {
    width: 100%;
    padding: 0 var(--base-padding) 32px;
  }
}

.sh-btn-support {
  font-size: var(--header-button-font);
  color: white;
  background-color: #2B59FF;
  padding: 12px 16px;
  border-radius: 4px;
  border: none;
  font-family: e-Ukraine-Regular, sans-serif;
}
@media only screen and (max-width: 768px) {
  .sh-btn-support {
    width: 100%;
  }
}

.showMenu {
  display: flex;
}

/*# sourceMappingURL=small-header.css.map */
