$fourthKey: 2560px;
$intermediateResolution: 1920px;
$laptopLarge: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobileLarge: 426px;
$mobileMedium: 376px;
$mobileSmall: 320px;

body {
  --header-button-font: 16px;

  @media only screen and (max-width: $fourthKey) and (min-width: $intermediateResolution) {
    font-size: 20px;
  }
  
  @media only screen and (max-width: $laptopLarge) and (min-width: $laptop) {
    --header-button-font: 12px;
  }
}

.hamburger-menu {
  display: none;

  @media only screen and (max-width: $tablet) {
    display: flex;
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 0;
  }
}

.hamburger-menu-button {
  border: none;
  padding: 0;
  background: none;
}

.hamburger-menu-button img {
  display: block;
}

.small-header {
  background-color: #232B2B;
  width: 100%;
  overflow: hidden;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 var(--base-padding);
  height: 113px;
  top: 0;
  position: sticky;
  z-index: 1;

  @media only screen and (max-width: $tablet) {
    height: 167px;
    justify-content: center;
    overflow: visible;
  }

  @media only screen and (min-width: calc($tablet + 1px)) {
    display: none;
  }
}

.header-lower {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;

  @media only screen and (max-width: $tablet) {
    justify-content: center;
    flex-direction: column;
  }
}

.header-dropdown-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 32px;

  @media only screen and (max-width: $fourthKey) {
    flex-grow: 2;
  }

  @media only screen and (max-width: $tablet) {
    display: none;
    flex-direction: column;
    width: calc(100% + 2 * var(--base-padding));
    position: absolute;
    top: 100%;
    background-color: #232B2B;
  }
}

.sh-header-center {
  flex: auto;
  display: flex;
  justify-content: center;
  gap: 32px;
  align-items: center;

  @media only screen and (max-width: $tablet) {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.sh-header-center a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: var(--header-button-font);

  @media only screen and (max-width: $tablet) {
    padding: 16px calc(var(--base-padding) + 10px);
    display: block;
  }
}

.sh-logo-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;

  @media (max-width: $tablet) {
    align-items: center;
    width: auto;
  }
}

.sh-logo {
}

.sh-logo-href {
  line-height: 0;
  display: flex;
  justify-content: flex-start;
}

.sh-btn-support-container {
  display: flex;
  justify-content: center;

  @media only screen and (max-width: $tablet) {
    width: 100%;
    padding: 0 var(--base-padding) 32px;
  }
}

.sh-btn-support {
  font-size: var(--header-button-font);
  color: white;
  background-color: #2B59FF;
  padding: 12px 16px;
  border-radius: 4px;
  border: none;
  font-family: e-Ukraine-Regular, sans-serif;

  @media only screen and (max-width: $tablet) {
    width: 100%;
  }
}

.sh-btn-support:active {
  color: #2B59FF;
  background-color: white;
}

.showMenu {
  display: flex;
}