$fourthKey: 2560px;
$laptopLarge: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobileLarge: 426px;
$mobileMedium: 376px;
$mobileSmall: 320px;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  --base-padding: 160px;
  --banner-font-size: 64px;
  font-family: e-Ukraine-Regular, sans-serif;
  color: #232B2B;

  @media only screen and (max-width: $laptopLarge) {
    --base-padding: 120px;
  }

  @media only screen and (max-width: $laptop) {
    --base-padding: 102px;
    font-size: 14px;
  }

  @media only screen and (max-width: $tablet) {
    --base-padding: 24px;
  }

  @media only screen and (max-width: $mobileLarge) {
    --base-padding: 32px;
  }
}

hr {
  border-top: 1px solid #C9C9C9;
  margin-top: 32px;
  margin-bottom: 50px;
}

@font-face {
  font-family: e-Ukraine-Regular;
  src: local("e-Ukraine-Regular"),
  url("/styles/fonts/e-Ukraine/e-Ukraine-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: e-Ukraine-Bold;
  src: local("e-Ukraine-Bold"),
  url("/styles/fonts/e-Ukraine/e-Ukraine-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: e-Ukraine-Medium;
  src: local("e-Ukraine-Medium"),
  url("/styles/fonts/e-Ukraine/e-Ukraine-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: e-Ukraine-Light;
  src: local("e-Ukraine-Light"),
  url("/styles/fonts/e-Ukraine/e-Ukraine-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: e-Ukraine-Head-Regular;
  src: local("e-Ukraine-Head-Regular"),
  url("/styles/fonts/e-Ukraine Head/e-UkraineHead-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: e-Ukraine-Head-Bold;
  src: local("e-Ukraine-Head-Bold"),
  url("/styles/fonts/e-Ukraine Head/e-UkraineHead-Bold.otf");
  font-weight: bold;
}

.help-container {
  padding: 0 var(--base-padding);
  display: flex;
  justify-content: space-evenly;
  margin: 120px 0;
  background-color: white;
  text-align: center;

  @media only screen and (max-width: $tablet) {
    margin: 100px 0;
    flex-direction: column;
    gap: 48px;
  }
}

.about-container {
  padding: 0 var(--base-padding) 120px;
  background-color: #F2F2EF;

  @media only screen and (max-width: $tablet) {
    padding-bottom: 32px;
  }
}

.main-header {
  font-family: e-Ukraine-Bold, sans-serif;
  font-size: 34px;
  padding-top: 100px;
  margin: 0;

  @media only screen and (max-width: $laptop) {
    font-size: 30px;
  }

  @media only screen and (max-width: $tablet) {
    text-align: center;
  }
}

.main-header-small {

  @media only screen and (max-width: $tablet) {
    padding-top: 32px;
  }
}

#about, #activity, #partners, #reporting, #fund-help {
  scroll-margin-top: 113px;

  @media only screen and (max-width: $tablet) {
    scroll-margin-top: 167px;
  }
}