$extraLarge: 1200px;

$desktop: 1920px;
$tablet: 768px;
$mobileLarge: 430px;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  --base-padding: 160px;
  --banner-font-size: 64px;
  font-family: e-Ukraine-Regular, sans-serif;
  color: #232B2B;

  @media only screen and (max-width: $tablet) {
    --base-padding: 24px;
  }

  @media only screen and (max-width: $mobileLarge) {
    --base-padding: 32px;
  }
}

hr {
  border-top: 1px solid #C9C9C9;
  margin-top: 32px;
  margin-bottom: 50px;
}

@font-face {
  font-family: e-Ukraine-Regular;
  src: url("/fonts/e-Ukraine/e-Ukraine-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: e-Ukraine-Bold;
  src: url("/fonts/e-Ukraine/e-Ukraine-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: e-Ukraine-Medium;
  src: url("/fonts/e-Ukraine/e-Ukraine-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: e-Ukraine-Light;
  src: url("/fonts/e-Ukraine/e-Ukraine-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: e-Ukraine-Head-Regular;
  src: url("/fonts/e-Ukraine Head/e-UkraineHead-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: e-Ukraine-Head-Bold;
  src: url("/fonts/e-Ukraine Head/e-UkraineHead-Bold.otf");
  font-weight: bold;
}

.banner {
  width: 100%;

  @media only screen and (max-width: $tablet) {
    height: 856px;
    object-fit: cover;
    object-position: left;
    overflow-x: hidden;
  }

  @media only screen and (max-width: $mobileLarge) {
    width: 430px;
    height: 772px;
  }
}

.banner-container {
  position: relative;
  width: 100%;
}

.banner-text {
  position: absolute;
  top: 0;
  color: white;
  width: 100%;
  height: 100%;
  padding: 0 var(--base-padding);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  @media only screen and (max-width: $tablet) {
    justify-content: center;
    gap: 32px;
  }
}

.banner-main-title {
  font-family: e-Ukraine-Head-Regular, sans-serif;
  font-size: var(--banner-font-size);
  line-height: 1.2;
  color: #F9CF01;

  @media only screen and (max-width: $tablet) {
    font-size: 36px;
    text-align: center;
  }

  @media only screen and (max-width: $mobileLarge) {
    text-align: center;
    font-size: 32px;
  }
}

.banner-sub-title {
  font-size: 34px;
  width: 560px;

  @media only screen and (max-width: $tablet) {
    width: 506px;
    text-align: center;
    margin: 0 auto;
  }

  @media only screen and (max-width: $mobileLarge) {
    width: 360px;
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
  }
}

.banner-sub-title-yellow {
  color: #F9CF01;
}

.help-container {
  padding: 0 var(--base-padding);
  display: flex;
  justify-content: space-between;
  margin: 120px 0;
  background-color: white;
  text-align: center;

  @media only screen and (max-width: $tablet) {
    margin: 100px 0;
    flex-direction: column;
    gap: 48px;
  }
}

.help-hr {
  border-right: 1px solid #C9C9C9;

  @media only screen and (max-width: $tablet) {
    border-right: none;
    border-bottom: 1px solid #C9C9C9;
    width: 85px;
    margin: 0 auto;
  }
}

.help-title {
  font-family: e-Ukraine-Medium, sans-serif;
  color: #2B59FF;
  font-size: 48px;
  margin: 0 0 32px 0;
}

.help-sub-title {
  font-size: 20px;
  color: #232B2B;
}

.about-container {
  padding: 0 var(--base-padding) 120px;
  background-color: #F2F2EF;

  @media only screen and (max-width: $tablet) {
    padding-bottom: 32px;
  }
}

.main-header {
  font-family: e-Ukraine-Bold, sans-serif;
  font-size: 34px;
  padding-top: 100px;
  margin: 0;

  @media only screen and (max-width: $tablet) {
    text-align: center;
  }
}

.main-header-small {

  @media only screen and (max-width: $tablet) {
    padding-top: 32px;
  }
}

.about-text {
  margin: 24px 0;
  font-family: e-Ukraine-Light, sans-serif;
  line-height: 1.8;

  @media only screen and (max-width: $tablet) {
    text-align: justify;
    margin: 0 0 24px;
  }
}

.our-team {
  font-size: 24px;
  margin: 78px 0 48px;

  @media only screen and (max-width: $tablet) {
    margin: 50px 0 24px;
  }
}

.team {
  display: flex;

  @media only screen and (max-width: $tablet) {
    width: 100%;
    gap: 24px;
    flex-direction: column;
  }
}

.team-member {
  display: flex;
  width: 40%;

  @media only screen and (max-width: $tablet) {
    width: 100%;
  }
}

.team-member-photo {
  border-radius: 70px;
  width: 175px;
  height: 190px;
}

.team-member-name-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-member-name {
  font-family: e-Ukraine-Light, sans-serif;
  margin: auto;
  text-align: center;
  line-height: 1.4;
  width: 230px;

  @media only screen and (max-width: $tablet) {
    font-size: 22px;
    margin: 0;
    width: 300px;
  }

  @media only screen and (max-width: $mobileLarge) {
    width: auto;
    font-size: 19px;
  }
}

.activity-container {
  padding: 0 var(--base-padding) 100px;
}

.activity-item {
  display: flex;

  @media only screen and (max-width: $tablet) {
    flex-direction: column;
  }
}

.activity-item:not(:first-child) {
  margin-top: 64px;
}

.activity-item:nth-child(odd) {
  flex-direction: row-reverse;

  @media only screen and (max-width: $tablet) {
    flex-direction: column;
  }
}

.activity-item:nth-child(odd) .activity-item-photo {
  margin-left: 40px;

  @media only screen and (max-width: $tablet) {
    margin-left: 0;
  }
}

.activity-item:nth-child(even) .activity-item-photo {
  margin-right: 40px;

  @media only screen and (max-width: $tablet) {
    margin-right: 0;
  }
}

.activity-item-text {
  margin: auto 0;

  .btn-support {
    margin-top: 24px;

    @media only screen and (max-width: $tablet) {
      width: 100%;
    }
  }
}

.activity-item-title {
  font-family: e-Ukraine-Medium, sans-serif;
  font-size: 26px;
  margin-bottom: 24px;
}

.activity-item-subtitle {
  font-family: e-Ukraine-Light, sans-serif;
  line-height: 1.8;
}

.activity-item-photo {
  border-radius: 12px;
  width: 525px;
  height: 305px;

  @media only screen and (max-width: $tablet) {
    width: 100%;
    height: 380px;
    object-fit: cover;
    margin-bottom: 40px;
  }
}

.partners-container {
  padding: 0 var(--base-padding) 100px;
  background-color: #F2F2EF;

  @media only screen and (max-width: $tablet) {
    padding-bottom: 32px;
  }
}

.fund-help-container {
  padding: 0 var(--base-padding) 100px;
}

.charity-container {
  width: 100%;
  height: auto;
  background-color: #F2F2EF;
  border-radius: 23px;
  display: flex;
  justify-content: space-between;
  padding: 32px;

  @media only screen and (max-width: $tablet) {
    flex-direction: column;
    background-color: transparent;
    padding: 0;
    gap: 24px;
  }
}

.charity-sub-container {
  padding: 64px;
  font-size: 16px;
  width: 55%;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $tablet) {
    padding: 32px;
    width: 100%;
    background-color: #F2F2EF;
    border-radius: 12px;
    gap: 48px;
  }
}

.charity-header {
  font-family: e-Ukraine-Medium, sans-serif;
  font-size: 28px;

  @media only screen and (max-width: $tablet) {
    margin: 0;
  }
}

.charity-table {
  font-size: var(--charity-font-size);
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.charity-row {
  display: flex;

  @media only screen and (max-width: $tablet) {
    flex-direction: column;
    gap: 24px;
  }
}

.main-td {
  font-family: e-Ukraine-Light, sans-serif;
  max-width: 35%;

  @media only screen and (max-width: $tablet) {
    max-width: 100%;
  }
}

.sub-td {
  max-width: 65%;

  @media only screen and (max-width: $tablet) {
    font-family: e-Ukraine-Regular, sans-serif;
    font-size: 20px;
    max-width: 100%;
  }

  @media only screen and (max-width: $mobileLarge) {
    font-size: 16px;
  }
}

.qr-container {
  background-color: hsl(227, 100%, 58%, 10%);
  border-radius: 12px;
  padding: 32px;
  max-width: 45%;

  @media only screen and (max-width: $tablet) {
    max-width: 100%;
  }
}

.qr-container-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
  font-size: 15px;
  gap: 25px;

  @media only screen and (max-width: $tablet) {
    flex-direction: column;
    align-items: center;
    gap: 24px;

    img {
      width: 208px;
      height: 35px;
    }

    .qr-container-top-title {
      font-size: 16px;
    }
  }
}

.qr-container-top-title {
  font-family: e-Ukraine-Light, sans-serif;

  @media only screen and (max-width: $mobileLarge) {
    text-align: center;
  }
}

.qr-container-main-title {
  font-family: e-Ukraine-Medium, sans-serif;
  font-size: 32px;
  text-align: center;
}

.qr-code {
  width: 214px;
  height: 214px;
  margin: 48px auto;
}

.instruction-container {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  gap: 17px;

  @media only screen and (max-width: $tablet) {
    gap: 16px;
    padding: 0;
  }
}

.instruction-container-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.instruction-container-number {
  width: 32px;
  height: 32px;
}

.instruction-container-text {

}

.footer {
  background-color: #232B2B;
  padding: 0 var(--base-padding);
}

.font-24 {
  font-size: 24px;
}

.rights {
  color: #ffffff;
  font-size: 12px;
  padding-bottom: 32px;
  text-align: center;
}

.footer-container {
  padding-top: 30px;
  display: flex;

  @media only screen and (max-width: $tablet) {
    padding-top: 32px;
    flex-direction: column;
    gap: 48px;
    text-align: center;
  }
}

.main-logo {
  margin: 0 auto 24px;
}

.main-logo img {
  width: 150px;
}

.footer-item {
  color: #ffffff;
  margin-right: 100px;

  @media only screen and (max-width: $tablet) {
    margin: 0;
  }
}

.footer-item:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-item:last-child {
  margin-right: 0;
}

.footer-line {
  padding-bottom: 16px;

  font-family: e-Ukraine-Light, sans-serif;
}

.footer-line:first-child {
  padding-bottom: 32px;
}

.footer-line:last-child {
  padding-bottom: 0;
}

.footer-line a {
  text-decoration: none;
  color: #ffffff;
}

.footer-hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border-color: #858585;
}

.image-link img {
  vertical-align: middle;
}

.footer-line-first {
  font-family: e-Ukraine-Medium, sans-serif;
}