.swiper {
  width: 100%;
  height: auto;
  --swiper-pagination-color: #232B2B;
  z-index: 0;
}

.swiper-slide {
  width: auto;

  img {
    height: 150px;
  }
}

.swiper-slide-item {
  border: 1px solid #C9C9C9;
  border-radius: 10px;
  width: 250px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

  & > img {
    border-radius: inherit;
    display: block;
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
  }
}

.swiper-wrapper {
  padding-bottom: 40px;
}